<!-- Create a brand new rails app called "adventures"

Create a custom controller with 2 actions: index & about

Update each view / make it look good (html/css)

Scaffold 2 resources (tables) with 3 attributes each:

State (name, capital, population)

Activity (name, cost, duration)

Add 5 records to each table

Add a new id column to each index view

Create a route that takes the url "http://0.0.0.0:3000/ilovetocode" to your index page

If you've got a handle on all that:
Research how to add erb links, images, etc -->


<h1>Index#about</h1>
<p>Find me in app/views/index/about.html.erb</p>
